{% extends 'base.html' %}

{% block titulo %}
    {{ accion }} Usuario
{% endblock titulo %}
    

{% block contenido %}
    <h1>{{ accion }} Usuario</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">
            {% if accion == 'Nuevo' %}
                Agregar
            {% else %}
                Guardar
            {% endif %} 
        </button>
    </form>
{% endblock contenido %}