{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block titulo %}
            
    {% endblock titulo %}  
  </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'css/feather.css' %}">

  <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}"/>
</head>

<body>
  <nav class="navbar default-layout col-lg-12 col-12 p-0 sticky-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <div class="me-3">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
      </div>
      <div>
        <a class="navbar-brand brand-logo" href="{% url 'bienvenida' %}">
          <img src="{% static 'img/logo.png' %}" alt="logo" />
        </a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-top"> 
      <ul class="navbar-nav">
        <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
          {% if request.user.is_authenticated %}
          <h1 class="welcome-text">Bienvenido, <span class="text-black fw-bold">{{ request.user.username }}</span></h1>
          {% endif %}
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-none d-lg-block">
          <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
            <span class="input-group-addon input-group-prepend border-right">
              <span class="icon-calendar input-group-text calendar-icon"></span>
            </span>
            <input type="text" class="form-control">
          </div>
        </li>
        <li class="nav-item">
          <form class="search-form" action="#">
            <i class="icon-search"></i>
            <input type="search" class="form-control" placeholder="Search Here" title="Search here">
          </form>
        </li>
        <li class="nav-item dropdown d-none d-lg-block user-dropdown">
          <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle" src="{% static 'img/dino.jpeg' %}" alt="Profile image">
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="{% static 'img/dino.jpeg' %}" alt="Profile image">
              <p class="mb-1 mt-3 font-weight-semibold">{{ request.user.first_name }}  {{ request.user.last_name }}</p>
              <p class="fw-light text-muted mb-0">{{ request.user.email }}</p>
            </div>
            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> Mi perfil <span class="badge badge-pill badge-danger">1</span></a>
            <a class="dropdown-item" href=""><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  
  <div class="container-fluid page-body-wrapper mb-0">
  
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="ti-settings"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme">
          <div class="img-ss rounded-circle bg-light border me-3"></div>
          Light
        </div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme">
          <div class="img-ss rounded-circle bg-dark border me-3"></div>
          Dark
        </div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    
    <div id="right-sidebar" class="settings-panel">
      <i class="settings-close ti-close"></i>
      <div class="tab-content" id="setting-content">
      </div>
    </div>
    
    <nav class="sidebar sidebar-offcanvas " id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bienvenida' %}">
            <i class="bi bi-three-dots-vertical"></i>
            <span class="menu-title">Comedor SAUS</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#recetas" aria-expanded="false" aria-controls="recetas">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">Recetas</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="recetas">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'lista_recetas' %}">Catálogo de Recetas</a></li>
            </ul>
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'nueva_receta' %}">Añadir nueva receta</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#tipo_insumo" aria-expanded="false" aria-controls="tipo_insumo">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">Tipo insumo</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tipo_insumo">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'lista_tipo_insumo' %}">Catálogo de tipos</a></li>
            </ul>
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'nuevo_tipo_insumo' %}">Añadir nuevo tipo</a></li>
            </ul>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#insumo" aria-expanded="false" aria-controls="insumo">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">Insumo</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="insumo">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'lista_insumo' %}">Catálogo de Insumos</a></li>
            </ul>
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'nuevo_insumo' %}">Añadir nuevo insumo</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    
    <div class="main-panel">
      <div class="content-wrapper mt-0">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% block contenido %}
        {% endblock contenido %}
      </div>
      
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.
          </span>
        </div>
      </footer>
    </div>
  </div>
</body>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/progressbar.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <script src="{% static 'js/funciones.js' %}"></script>

  {% block scripts %}
        
  {% endblock scripts %}
  <!-- End custom js for this page-->
</body>

</html>

