<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Sistema de Comedor SAUS
{% endblock titulo %}

{% block contenido %}
    <div style="text-align: center;">
        <h1 style="font-size: 48px; color: #333; margin-bottom: 20px;">
            Bienvenido al Servicio de Alimentaciòn Universitario Siglo XXI
        </h1>
        <img src="{% static 'img/logo1.png' %}" alt="Logo SAUS" height="300px" style="border-radius: 10px;">
    </div>
{% endblock contenido %}
