{% extends 'base.html' %}

{% block titulo %}
Catálogo de recetas
{% endblock titulo %}

{% block contenido %}
<h1>
    Catálogo de recetas
</h1>

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
    action="{% url 'buscar_receta' %}" method="post" id="form">
    {% csrf_token %}

    <table class="table">
        <tr>
            <td>
                <input type="checkbox" name="todos" id="todos">
            </td>
            <td>{{form.nombre}}</td>
            <td>{{form.hora}}</td>
            <td>{{form.minuto}}</td>
            <td>
                <input class="btn btn-success" type="submit" value="Buscar">
                <input type="hidden" name="page" id="page" value="1">
            </td>
        </tr>
    </table>
</form>

<form action="{% url 'eliminar_todas' %}" method="post">
    {% csrf_token %}
    <div id="recetas-container">
        {% for receta in object_list %}
        <div class="col-xl-auto col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto pr-3">
                            <input type="checkbox" name="pk_list[]" value="{{ receta.id }}">
                            {% if receta.imagen %}
                            <img class="img-lg rounded" src="{{ receta.imagen.url }}" alt="Profile image">
                            {% else %}
                            <p>No hay imagen disponible</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                                {{ receta.nombre }}
                            </div>
                            <div class="text-lg font-weight-bold text-primary mb-1">
                                Descripcion:
                            </div>
                            <div class="h5 mb-0 text-xs font-weight-bold text-gray-800 descripcion-receta">
                                {{ receta.descripcion }}
                            </div>
                            <div class="text-lg font-weight-bold text-primary mb-1">
                                Tiempo preparacion:
                            </div>
                            <div class="h5 mb-0 text-xs font-weight-bold text-gray-800">
                                {{ receta.hora }}hrs {{ receta.minuto }}min
                            </div>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-sm btn-primary" href="{% url 'editar_receta' receta.id %}">
                                Editar
                            </a>
                            <a class="btn btn-sm btn-danger" href="{% url 'eliminar_receta' receta.id %}">
                                Eliminar
                            </a>
                            <a class="btn btn-sm btn-warning" href="{% url 'receta_detail' receta.id %}">
                                Detalle
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <button class="btn btn-sm btn-warning" type="submit">Eliminar seleccionados</button>
</form>

<div id="pagination-loader" style="display: none;">
    <p>Loading...</p>
</div>
{% endblock contenido %}

{% block scripts %}
<script>
    var nextPage = 2;
    var isLoading = false;

    function loadMore() {
        if (isLoading || nextPage === null) {
            return;
        }

        var loader = document.getElementById('pagination-loader');
        loader.style.display = 'block';
        isLoading = true;

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '?page=' + nextPage, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var tempContainer = document.createElement('div');
                tempContainer.innerHTML = xhr.responseText;

                var recetasContainer = document.getElementById('recetas-container');
                if (recetasContainer) {
                    var recetas = tempContainer.querySelector('#recetas-container').innerHTML;
                    recetasContainer.innerHTML += recetas;

                    nextPage++;
                } else {
                    nextPage = null;
                }
            }

            loader.style.display = 'none';
            isLoading = false;
        };
        xhr.send();
    }

    window.addEventListener('scroll', function () {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            loadMore();
        }
    });

    loadMore();
</script>

<script>
    $(document).ready(function () {
        $("#todos").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
    });
</script>
{% endblock scripts %}
